@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nanum+Pen+Script&display=swap");
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper {
  position: absolute;
  top: 190px;
  left: 0;
  width: 100%;
  height: 45%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {
    width: 50%;
    height: 100%;
    h5 {
      font-family: "Dosis", sans-serif;
      letter-spacing: 2px;
      font-size: 23px;
      color: #0f1318;
    }
    p {
      margin-top: 8px;
      font-family: "Dosis", sans-serif;
      color: #768090;
      font-size: 19px;
    }
  }
  .right {
    width: 50%;
    height: 100%;
    /* background-color: aquamarine; */
    .text {
      display: flex;
      align-items: center;
      justify-content: end;
      .inner-text {
        p {
          font-family: "Dosis", sans-serif;
          font-size: 20px;
          line-height: 30px;
          font-weight: 500;
          .php {
            position: relative;
            display: inline;
            z-index: 1;
            font-weight: 600;
          }
          .php::after {
            content: "";
            display: block;
            height: 5px;
            background: #ffae03;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 2px;
            z-index: -1;
          }
          .js {
            position: relative;
            display: inline;
            z-index: 1;
            font-weight: 600;
          }
          .js::after {
            content: "";
            display: block;
            height: 5px;
            background: #ffae03;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 2px;
            z-index: -1;
          }
        }
      }
    }
    .second {
      margin-top: 18px;
      float: right;
      width: 322px;
      margin-right: 4px;
      .second-inner {
        p {
          font-size: 18px;
          font-family: "Dosis", sans-serif;
          font-size: 20px;
          line-height: 30px;
          font-weight: 500;
          #contact {
            position: relative;
            z-index: 1;
          }
          #contact::after {
            content: "";
            display: block;
            height: 5px;
            background: #ffae03;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 2px;
            z-index: -1;
          }
        }
      }
    }
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  /* background-color: #ffae03; */
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  .text {
    #happines {
      font-size: 35px;
      font-family: "Nanum Pen Script", cursive;
      font-weight: 400;
      font-style: normal;
    }
  }
}
