* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
}
::selection {
  background-color: #ffae03;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0px 8px;
}
